@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), local('Ubuntu'),
        url('./fonts/Ubuntu-R.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 16px;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    white-space: nowrap;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
}
.caption {
    width: 100px;
    transition: color 1s;
}
.caption:hover  {
    color: rgb(60, 184, 120);
}
p {
    color: rgb(255, 255, 255); 
}
.head { 
    padding: 20px;
}
.head:nth-child(1) {
    grid-column: span 6;
    grid-row: 1;
    padding-left: 70px;
}
.head:nth-child(2) {
    grid-column: span 1;
    grid-row: 1;
}
.head:nth-child(3) {
    grid-column: span 1;
    grid-row: 1;
}
header svg {
    width: 24px;
    height: 24px;
    transition: fill 1s;
}
header svg:hover {
    fill: #3CB878;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
li {
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}
.welcome button {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    transition: color 1s;
}
button, #submit {
    cursor: pointer;
}
.welcome button:hover {
    color: #3CB878;
}
.form_wrapper {
    position: absolute;
    width: 444px;
    height: 584px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: auto;
    padding: 0;
    left: calc(50% - 444px/2);
    top: calc(50% - 584px/2 + 19px);
}
.form_title {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    white-space: nowrap;
    margin-top: -10px;
}
.form_title_btn:nth-child(1) {
    grid-column: span 2;
    text-align: left;
    height: 14px;
}
.form_title_btn:nth-child(2) {
    grid-column: span 2;
    text-align: right;
    height: 14px;
}
#sign {
    background: none;
    border: none;
    color: rgb(67, 67, 67);
    font-size: 20px;
    line-height: 20px;
}
#log {
    background: none;
    border: none;
    color: rgb(60, 184, 120);
    font-size: 14px;
    line-height: 14px;
    transition: color 1s;
}
#log:hover {
    color: rgb(1, 129, 63);
    text-decoration: underline;
}
.form_title_btn:nth-child(3), .form_title_btn:nth-child(4) {
    grid-column: span 2;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
.form_title_btn:nth-child(3) {
    gap: 18px;
    background: rgb(48, 93, 184);
    transition: background-color 1s;
}
.form_title_btn:nth-child(3):hover {
    background-color: rgb(2, 34, 99);
}
.form_title_btn:nth-child(4) {
    gap: 28px;
    background: rgb(223, 74, 50);
    transition: background-color 1s;
}
.form_title_btn:nth-child(4):hover {
    background-color: rgb(171, 31, 9);
}
.form_title_btn:nth-child(5) {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 10px 0;
}
.form_title_btn:nth-child(5)::before, .form_title_btn:nth-child(5)::after {
    content: '';  
    display: block;                 
    width: 150px;                                                  
    border-bottom: 1px solid rgb(242, 242, 242);
}
.img_logo {
    width: 48px;
    display: flex;
}
.img_logo::after {
    content: '';
    display: block;                
    height: 28px;
    width: 1px;    
    margin: 9px 0;                                              
    border-right: 1px solid rgb(10, 22, 47, 0.1);
}
.facebook {
    margin: 11px;
}
.google {
    margin: 12px 9px;
}
.form_content {
    margin: auto;
    padding: 0 60px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.form_input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(242, 242, 242);
    padding: 0 20px;
}
::placeholder {
    color:  rgb(190, 190, 190);
    font-size: 14px;
    line-height: 14px;
}
#submit {
    color: rgb(255, 255, 255);
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    height: 46px;
    transition: background-color 1s;
}
#submit:hover {
    background-color: rgb(1, 129, 63);
}
.shape {
    position: relative;
    width: 18px;
    height: 18px;
    left: -60px;
    top: 26px;
    background: rgb(60, 184, 120);
}
.form_input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.click_span {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgb(60, 184, 120);
    transition: color 1s;
}
.click_span:hover {
    color: rgb(1, 129, 63);
    text-decoration: underline;
}
.click {
    color: rgb(67, 67, 67);
    font-size: 14px;
    line-height: 14px;
    width: 100%;
}
.flex {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 325px;
}
input[type=checkbox] {
    display: none;
}
.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-check {
    display: none;
    color: rgb(60, 184, 120);
    transition: color 1s;
}
.svg-check path {
    stroke: currentColor;
}
.svg-check:hover {
    color: rgb(1, 129, 63);
}
.checkbox-wrapper:hover {
    color: rgb(1, 129, 63);
}
.checkbox-hidden:checked ~ .checkbox .svg-check {
    display: block;
}
